<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <!-- Show user's name, email, and if they are a walker or client -->
              <p><strong>Name</strong>: <%= user.fullName %></p> 
              <p><strong>Email</strong>: <%= user.email %></p>
              <p><strong>Profile type</strong>: <%= user.clientProfile ? 'Client' : 'Walker' %> </p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <!-- Add a pet start -->
          <div class="mt-5">
            <h2>Add a Pet</h2>
            <form action="/pet/createPet" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="petName" class="form-label">Pet's Name</label>
                  <input type="text" class="form-control" id="petName" name="petName">
              </div>
              <div class="mb-3">
                <label for="breed" class="form-label">Breed</label>
                <textarea class="form-control" id="breed" name="breed"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
          <!-- Add pet end --> 
      </div>
      <!-- List pets start -->
      <div class="col-6">
        <ul class="row list-unstyled"> 
        <% for(var i=0; i<pets.length; i++) {%> <!--grab all pets of logged in user -->
          <li class="col-6 justify-content-between mt-5">
            <a href="/pet/<%= pets[i]._id%>"> <!-- go to specific pet --> 
              <img class="img-fluid" src="<%= pets[i].image%>"> <!-- pet img -->
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">See all Walkers</a> <!--go to walker feed-->
        </div>  
      </div> 
      <!-- List pets end -->
      <!-- Client Requests (for Walkers) start --> 
      <div class="col-6">
        <h2>New Requests</h2>
        <h3>Connection Requests</h3>
        <ul class="row list-unstyled">
        <% for(var i=0; i<requests.length; i++) {%>
          <% if (requests[i].pending === true && requests[i].accepted === false) { %>
            <!-- Show this block if the condition is true -->
            <li class="col-6 justify-content-between mt-5">
              <p><strong>Sender</strong>: <%= requests[i].sender.fullName %></p>
            </li>
            <form
            action="/request/acceptConnect/<%= requests[i]._id %>?_method=PUT"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-primary fa fa-check" type="submit"></button>
            </form>
            <form
            action="/request/denyConnect/<%= requests[i]._id %>?_method=PUT"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-primary fa fa-check" type="submit"></button>
            </form>
          <% } else { %>
            <!-- Show this block if the condition is false -->
            <div class="d-none"></div>
          <% } %>
        <% } %>
        </ul> 
        <h3>Visit Requests</h3>
        <ul class="row list-unstyled">
          <% for(var i=0; i<visits.length; i++) {%>
            <% if(visits[i].accepted === false) {%>
              <li class="col-6 justify-content-between mt-5">
                <p><strong>Walk with</strong>: <%= visits[i].client.fullName %></p>
              </li>
              <form
              action="/visit/acceptVisit/<%= visits[i]._id %>?_method=PUT"
              method="POST"
              class="col-3"
            >
              <button class="btn btn-primary fa fa-check" type="submit"></button>
              </form>
              <form
              action="/visit/deleteVisit/<%= visits[i]._id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button class="btn btn-primary fa fa-check" type="submit"></button>
              </form>
              <% } %>
            <% } %>
          </ul> 
      </div>  
      <!-- Client Requests (Walkers) end --> 
      <!-- List friends start -->
      <div class="col-6">
        <h2>Your connections</h2>
        <ul class="row list-unstyled">
          <% const uniqueConnections = new Set(); %>
          <% user.connections.forEach(function(connection) { %>
            <% if (!uniqueConnections.has(connection._id.toString())) { %>
              <% uniqueConnections.add(connection._id.toString()); %>
              <li>
                <strong>Person:</strong> <%= connection.fullName %> (Email: <%= connection.email %>)
              </li>
            <% } %>
          <% }); %>
        </ul>      <!-- List friends end -->
        <h2>Scheduled Visits</h2>
        <% for(var i=0; i<visits.length; i++) {%> <!-- List all scheduled visits (Walker) start-->
          <% if(visits[i].accepted && !visits[i].completed) {%>
          <div class="card mb-3" style="max-width: 340px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="<%= visits[i].pet.image%>"
                  alt="Image of pet"
                  class="img-fluid rounded-start"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= visits[i].visitDateTime %></h5>
                  <p class="card-text">
                    Walk with <%= visits[i].pet.petName %>
                    <%if(visits[i].walkerSelect.id === user.id){ %>
                      <form
                        action="/visit/deleteVisit/<%= visits[i]._id %>?_method=DELETE" 
                        method="POST"
                        class="col-3"
                      >
                        <button class="btn btn-primary fa fa-trash" type="submit"> Cancel</button>
                      </form>
                      <a href="/visit/<%= visits[i]._id%>" class="btn btn-success fa fa-check">Start Visit</a>
                      <%}%>
                  </p>
                </div>
              </div>
            </div>
          </div>      
                  <% } %>       <!-- View all scheduled visits (for Walker) end -->
      </div>
      <% } %> 
      <h2>Past Visits</h2> // To-Do 8/11 - Change to list all reports of past visits
      <% for(var i=0; i<visits.length; i++) {%> <!-- List all past visits (Walker) start-->
        <% if(visits[i].accepted && visits[i].completed) {%>
        <div class="card mb-3" style="max-width: 340px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="<%= visits[i].pet.image%>"
                alt="Image of pet"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= visits[i].visitDateTime %></h5>
                <p class="card-text">
                  Walk with <%= visits[i].pet.petName %>
                  <%if(visits[i].walkerSelect.id === user.id){ %>
                    <a href="/report/<%= visits[i]._id%>" class="btn btn-success fa fa-check">View Report</a>
                    <%}%>
                </p>
              </div>
            </div>
          </div>
        </div>      
                <% } %>       <!-- View all past visits (for Walker) end -->
    </div>
    <% } %> 
    </div>
</div>
<%- include('partials/footer') -%>